========================
Flutter / Dart
========================
frontend/.dart_tool/
frontend/.idea/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/pubspec.lock

========================
Android
========================
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/app/debug/
frontend/android/app/profile/
frontend/android/app/release/
frontend/android/key.properties
*.jks
*.keystore

========================
Windows
========================
frontend/windows/build/
frontend/windows/flutter/ephemeral/

========================
MacOS
========================
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/ios/Flutter/Flutter.framework
frontend/macos/Pods/

========================
Base de datos local
========================
*.db
*.sqlite

========================
Backend / PHP
========================
.env
backend/config/env.php

========================
Sistema operativo / Archivos del sistema
========================
.DS_Store
Thumbs.db
desktop.ini

========================
VS Code
========================
.vscode/
.vscode/settings.json
.vscode/launch.json

========================
Archivos temporales
========================
*.tmp
*.swp
*.bak
*.txt

========================
Cache / Logs
========================
frontend/.gradle/
frontend/.pub-cache/
*.log